.rose-view {
    background-color: #7698B3;
}
body {
    background-color: #83B5D1;
}
.firstAndAll {
    color: #7F557D;
}
h1 {
   color: #673C4F;
}
h2 {
    color: #673C4F
}
h3 {
    color: #673C4F
}
.rose-red {
    color: rgb(46, 27, 27);
}
ol {
    color: blue;
}